#:schema node_modules/wrangler/config-schema.json
compatibility_date = "2024-07-01"
compatibility_flags = ["nodejs_compat_v2"]
main = "src/worker.ts"
name = "ynab-trading212-sync"

[triggers]
crons = ["0 3 * * *"]

[vars]
BUDGET="INSERT_YNAB_BUDGET_ID"
ACCOUNT="INSERT_YNAB_ACCOUNT_ID"

STOCK_CATEGORY_ID = ""
CONVERSION_FEE_CATEGORY_ID = ""
DIVIDEND_CATEGORY_ID = ""
